
*.pyc
Academic_Office/Academic_Office/_pycache_
Academic_Office/Admin/_pycache_
Academic_Office/Student/_pycache_
Academic_Office/Teacher/_pycache_
Academic_Office/.idea/workspace.xml
Academic_Office/.idea/Academic_Office.iml
Academic_Office/.idea/libraries/R_User_Library.xml
Academic_Office/.idea/misc.xml
Academic_Office/.idea/modules.xml
Academic_Office/.idea/vcs.xml
