{% extends 'Student_View_Base_Layout.html' %}
{% load static from staticfiles %}
{%block content2%}
              <a href="" class = "brand-logo">{{ a_student.S_id }}</a>
{% endblock %}
{% block content3 %}
<li><a href="{% url 'logout1' %}" class ="btn amber lighten-1 waves-effect">Logout</a></li>
{% endblock %}
{%block content%}
      <div class="container">
          <h2>
              Assignments
          </h2>
          <ul class="collection with-header">

            <li class="collection-header">
              <h4 class>Assignments Given</h4>
            </li>
            {% for ass in assignments %}
              <li class="collection-item avatar hoverable">
                <a href="{%url 'marks' ass.A_id%}" class=""><i class="material-icons  circle blue">event_note</i></a>
                <span class="title">{{ass}}</span>
              </li>
          {% endfor %}
          </ul>
      </div>
{% endblock %}
