{% extends 'Student_View_Base_Layout.html' %}
{% load static from staticfiles %}
{%block content2%}
              <a href="" class = "brand-logo">{{ a_student.S_id }}</a>
{% endblock %}
{% block content3 %}
<li><a href="{% url 'logout1' %}" class ="btn amber lighten-1 waves-effect">Logout</a></li>
{% endblock %}
{%block content%}
  <div class="container center">
            <h3 class="">Welcome to <u>{{ a_course.C_name }}</u> !</h3>
              <div class="row">

                <a class="" href="{% url 'student_course_page_assignments' a_course.C_id %}">
                  <div class="col s12 l4">
                    <div class="card  blue darken-3 hoverable">
                      <div class="card-image">
                        <img src="{% static 'Teacher/course.png' %}" alt="">
                        <a href="" class="halfway-fab btn-floating blue darken-1 pulse ">
                            <i class="material-icons ">format_align_center</i>
                        </a>
                      </div>
                        <div class="card-content">
                          <p class="center">
                                <h6 class="white-text">View Assignments and Text books</h6>
                          </p>
                        </div>
                  </div>
                  </div>
                </a>

                <a class="" href="">
                  <div class="col s12 l4">
                    <div class="card  blue lighten-1 hoverable">
                      <div class="card-image">
                        <img src="{% static 'Teacher/marks.jpg' %}" alt="">
                        <a href="" class="halfway-fab btn-floating blue darken-1 pulse ">
                            <i class="material-icons ">format_align_center</i>
                        </a>
                      </div>
                        <div class="card-content">
                          <p class="center">
                                <h5 class="white-text">View Scores</h5>
                          </p>
                        </div>
                  </div>
                  </div>
                </a>



			</div>
	</div>
{% endblock %}
